h1 {
    color: red;
    font-size: 200px;
}

img:hover {
    background-color: blueviolet;
}


/*----------calss sectors------------*/

.pizza {
    background-color: red;
}

.brocauli {
    background-color: yellow;
}

.radius {
    border-radius: 50%;
}

form :active {
    color: red;
}


/*----------id sectors------------*/

#heding {
    color: blue;
}